/* global.pcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

.red-color {
    background-color: rgb(182, 28, 28);
}

.red-text {
    color: rgb(182, 28, 28);
}

body {
    background-color: #cccccc;
}